<section class="container">
  <h1>Products component</h1>
  <h3>rta</h3>
  <button data-testid="btn-promise" (click)="callPromise()">
    Call Promise
  </button>
  <p data-testid="rta">{{ rta }}</p>
  <div class="my-grid">
    @for (product of products; track $index) {
    <app-card-product [product]="product"></app-card-product>
    }
  </div>
  <button
    data-testid="btn-getProducts"
    [disabled]="status === 'loading'"
    (click)="getAllProducts()"
  >
    @if(status === 'success' || status=== 'init'){

    <span>load more</span>
    } @if(status=== 'loading'){
    <span>loading</span>
    } @if(status=== 'error'){
    <span>error</span>

    }
  </button>
</section>
